<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1210">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="fileInfoLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/info/" />
      <preserveLogFileNameExtension value="true" />
      <encoding value="utf-8" />
      <staticLogFileName value="false" />
      <datePattern value="'info'.yyyyMMdd.'log'" />
      <rollingStyle value="Composite" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <!-- seems maxSizeRollBackups cannot work when set preserveLogFileNameExtension to true -->
      <!-- see https://issues.apache.org/jira/browse/LOG4NET-413 for more details -->
      <maxSizeRollBackups value="10" />
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%p][%date{yyyy-MM-dd HH:mm:ss.fff}] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="CommonLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="fileWarnLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/warn/" />
      <preserveLogFileNameExtension value="true" />
      <encoding value="utf-8" />
      <staticLogFileName value="false" />
      <datePattern value="'warn'.yyyyMMdd.'log'" />
      <rollingStyle value="Composite" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%p][%date{yyyy-MM-dd HH:mm:ss.fff}] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="WARN" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="CommonLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="fileErrorLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/error/" />
      <preserveLogFileNameExtension value="true" />
      <encoding value="utf-8" />
      <staticLogFileName value="false" />
      <datePattern value="'error'.yyyyMMdd.'log'" />
      <rollingStyle value="Composite" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%p][%date{yyyy-MM-dd HH:mm:ss.fff}] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="CommonLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="fileErrorLogAppender" />
      <appender-ref ref="fileWarnLogAppender" />
      <appender-ref ref="fileInfoLogAppender" />
    </root>
  </log4net>

  <appSettings>

    <!-- input ip whitelist -->
    <add key="InputWhitelist" value="127.0.0.1, 192.168.0.*"/>

    <!-- incoming timeout -->
    <add key="MaxRecvIdleSeconds" value="90"/>
    
    <!-- video source mapping -->
    <add key="9810/mobile-48000,mobile-44100" value="127.0.0.1:9210, 127.0.0.1:9510"/>
    
    <!-- audio source mapping -->
    <add key="9910/mobile-48000" value="127.0.0.1:9310, 127.0.0.1:9610"/>
    <add key="9910/mobile-44100" value="127.0.0.1:9310, 127.0.0.1:9610"/>
    
  </appSettings>
  
</configuration>

