<?xml version="1.0"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>

    <!-- video -->
    <add key="9810/mobile-48000,mobile-44100" value="127.0.0.1:9210, 127.0.0.1:9510"/>
    
    <!-- audio -->
    <add key="9910/mobile-48000" value="127.0.0.1:9310, 127.0.0.1:9610"/>
    <add key="9910/mobile-44100" value="127.0.0.1:9310, 127.0.0.1:9610"/>
    
  </appSettings>
  
</configuration>

