<?xml version="1.0"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="9810" value="127.0.0.1:9210, 127.0.0.1:9510"/>
    <add key="9910" value="127.0.0.1:9310, 127.0.0.1:9610"/>
  </appSettings>
  
</configuration>

