<?xml version="1.0"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>

    <!-- if you are going to test MPEG1, it is better to use this URL source for testing -->
    <!-- 
    <add key="UrlSource" value="rtmp://live.hkstv.hk.lxdns.com/live/hks"/>
    <add key="VideoPublishTasks" value="{
         'Tasks':[
         {
         'VideoType': 'mpeg',
         'Resolution': '640x360',
         'FPS': 20,
         'Bitrate': 640,
         'PixelFormat': '',
         'ExtraParam': '',
         'ServerAddress': 'http://127.0.0.1:9410',
         'ChannelName': 'test-mpeg'
         }
         ]
         }"/>
    -->
    
    
    <!-- if you are going to test H.264, it is better to use this URL source for testing -->
    <add key="UrlSource" value="http://ott-video-lb.hktvmall.com:8088/hktvlive.m3u8?uid=1&amp;vid=1&amp;d=pc&amp;t=12e9a7f66f3a892b396e94d81206eb6c&amp;mxres=1920&amp;net=&amp;udid=83fedc4f-f254-11e4-97ac-0862662c98fc&amp;ts=1430742398985&amp;s=15e72de02a374db21d5952849fdd6a17"/>

    <add key="VideoPublishTasks" value="{
         'Tasks':[
         {
         'VideoType': 'h264',
         'Resolution': '1280x720',
         'FPS': 20,
         'Bitrate': 1280,
         'PixelFormat': 'yuv420p',
         'ExtraParam': '-g 50 -threads 1',
         'ServerAddress': 'http://127.0.0.1:9310',
         'ChannelName': 'test-video'
         },
         {
         'VideoType': 'h264',
         'Resolution': '640x360',
         'FPS': 8,
         'Bitrate': 300,
         'PixelFormat': 'yuv420p',
         'ExtraParam': '-g 50 -threads 1',
         'ServerAddress': 'http://127.0.0.1:9310',
         'ChannelName': 'mobile-video'
         }
         ]
         }"/>

    
    <!-- this is the common audio publish task -->
    <add key="AudioPublishTasks" value="{
         'Tasks':[
         {
         'AudioType': 'mp3',
         'Bitrate': 0,
         'ExtraParam': '',
         'ServerAddress': 'http://127.0.0.1:9210',
         'ChannelName': 'test-audio'
         },
         {
         'AudioType': 'pcm',
         'Bitrate': 0,
         'ExtraParam': '-ar 48000',
         'ServerAddress': 'http://127.0.0.1:9210',
         'ChannelName': 'pcm-48000'
         },
         {
         'AudioType': 'pcm',
         'Bitrate': 0,
         'ExtraParam': '-ar 44100',
         'ServerAddress': 'http://127.0.0.1:9210',
         'ChannelName': 'pcm-44100'
         }
         ]
         }"/>



    <!-- set available values of Resolution -->
    <add key="ResolutionOptions" value="{
         'Options':[
          '256x144',
          '320x240',
          '352x240',
          '480x360',
          '640x360',
          '640x480',
          '768x432',
          '768x576',
          '800x450',
          '800x600',
          '858x480',
          '1024x576',
          '1024x768',
          '1280x544',
          '1280x720',
          '1280x960',
          '1360x765',
          '1600x900',
          '1600x1200',
          '1920x1080'
          
         ]
         }"/>
    
    <!-- if need another ffmpeg to encode AAC, may set it here -->
    <add key="EncoderAAC" value="ffmpeg-hi10-heaac"/>

    <!-- if need parameters for video device, may set them here -->
    <add key="VideoDeviceParam" value="-rtbufsize 1024M"/>

    <!-- if need parameters for audio device, may set them here -->
    <!-- <add key="AudioDeviceParam" value="-channels 1 -sample_size 8 -audio_buffer_size 100"/> -->
    <add key="AudioDeviceParam" value="-audio_buffer_size 100"/>

  </appSettings>
  
</configuration>
