<?xml version="1.0"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>

    <!-- if you are going to test MPEG1, it is better to use this URL source for testing -->
    <!-- 
    <add key="UrlSource" value="rtmp://live.hkstv.hk.lxdns.com/live/hks"/>
    <add key="VideoPublishTasks" value="{
         'Tasks':[
         {
         'VideoType': 'mpeg',
         'Resolution': '640x360',
         'FPS': 20,
         'Bitrate': 640,
         'PixelFormat': '',
         'ExtraParam': '',
         'ServerAddress': 'http://127.0.0.1:9410',
         'ChannelName': 'test-video'
         }
         ]
         }"/>
    -->
    
    
    <!-- if you are going to test H.264, it is better to use this URL source for testing -->
    <add key="UrlSource" value="http://ott-video-lb.hktvmall.com:8088/hktvlive.m3u8?uid=1&amp;vid=1&amp;d=pc&amp;t=12e9a7f66f3a892b396e94d81206eb6c&amp;mxres=1920&amp;net=&amp;udid=83fedc4f-f254-11e4-97ac-0862662c98fc&amp;ts=1430742398985&amp;s=15e72de02a374db21d5952849fdd6a17"/>

    <add key="VideoPublishTasks" value="{
         'Tasks':[
         {
         'VideoType': 'h264',
         'Resolution': '1280x720',
         'FPS': 20,
         'Bitrate': 1280,
         'PixelFormat': '',
         'ExtraParam': '',
         'ServerAddress': 'http://127.0.0.1:9310',
         'ChannelName': 'test-video'
         },
         {
         'VideoType': 'h264',
         'Resolution': '640x360',
         'FPS': 10,
         'Bitrate': 320,
         'PixelFormat': '',
         'ExtraParam': '',
         'ServerAddress': 'http://127.0.0.1:9310',
         'ChannelName': 'mobile-video'
         }
         ]
         }"/>

    
    <!-- this is the common audio publish task -->
    <add key="AudioPublishTasks" value="{
         'Tasks':[
         {
         'AudioType': 'mp3',
         'Bitrate': 8,
         'ExtraParam': '',
         'ServerAddress': 'http://127.0.0.1:9210',
         'ChannelName': 'test-audio'
         }
         ]
         }"/>

    
    <!-- if need another ffmpeg to encode AAC, may set it here -->
    <add key="EncoderAAC" value="ffmpeg-hi10-heaac"/>

  </appSettings>
  
</configuration>
