<?xml version="1.0"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>

    <!-- if you are going to test MPEG1, it is better to use this URL source for testing -->
    <!-- and please note that latest jsmpeg supports both video(mpeg1) and audio(mp2) -->
    <!-- 
    <add key="VideoUrlSource" value="rtmp://live.hkstv.hk.lxdns.com/live/hks"/>
    <add key="VideoPublishTasks" value="{
         'Tasks':[
         {
         'VideoType': 'mpeg',
         'Resolution': '858x480',
         'FPS': 20,
         'Bitrate': 1600,
         'PixelFormat': '',
         'ExtraParam': '-codec:a mp2 -b:a 128k',
         'ServerAddress': 'http://127.0.0.1:9410',
         'ChannelName': 'test-mpeg'
         }
         ]
         }"/>
    -->
    
    
    <!-- if you are going to test H.264, it is better to use this URL source for testing -->
    <add key="VideoUrlSource" value="http://abclive.abcnews.com/i/abc_live4@136330/index_2500_av-p.m3u8"/>

    <add key="VideoPublishTasks" value="{
         'Tasks':[
         {
         'VideoType': 'h264',
         'Resolution': '1280x720',
         'FPS': 20,
         'Bitrate': 1280,
         'PixelFormat': 'yuv420p',
         'ExtraParam': '-g 50 -threads 1',
         'ServerAddress': 'http://127.0.0.1:9310',
         'ChannelName': 'desktop,desktop-48000,desktop-44100'
         },
         {
         'VideoType': 'h264',
         'Resolution': '640x360',
         'FPS': 8,
         'Bitrate': 300,
         'PixelFormat': 'yuv420p',
         'ExtraParam': '-g 50 -threads 1',
         'ServerAddress': 'http://127.0.0.1:9310',
         'ChannelName': 'mobile,mobile-48000,mobile-44100'
         }
         ]
         }"/>

    
    <!-- this is the common audio publish task -->
    <add key="AudioPublishTasks" value="{
         'Tasks':[
         {
         'AudioType': 'aac',
         'Bitrate': 0,
         'ExtraParam': '-ar 48000',
         'ServerAddress': 'http://127.0.0.1:9210',
         'ChannelName': 'desktop-48000,mobile-48000'
         },
         {
         'AudioType': 'mp3',
         'Bitrate': 0,
         'ExtraParam': '-ar 44100',
         'ServerAddress': 'http://127.0.0.1:9210',
         'ChannelName': 'desktop-44100,mobile-44100'
         }
         ]
         }"/>



    <!-- set available values of Resolution -->
    <add key="ResolutionOptions" value="{
         'Options':[
          '256x144',
          '320x240',
          '352x240',
          '480x360',
          '640x360',
          '640x480',
          '768x432',
          '768x576',
          '800x450',
          '800x600',
          '858x480',
          '1024x576',
          '1024x768',
          '1280x544',
          '1280x720',
          '1280x960',
          '1360x765',
          '1600x900',
          '1600x1200',
          '1920x1080'
          
         ]
         }"/>
    
    <!-- if need another ffmpeg to encode AAC, may set it here -->
    <add key="EncoderAAC" value="ffmpeg-hi10-heaac"/>

    <!-- if need to aoto restart the ffmpeg process, may set the interval (in seconds) here -->
    <add key="AutoRestartInterval" value="5"/>

    <!-- if need parameters for video device, may set them here -->
    <add key="VideoDeviceParam" value="-rtbufsize 1024M"/>

    <!-- if need parameters for audio device, may set them here -->
    <!-- <add key="AudioDeviceParam" value="-channels 1 -sample_size 8 -audio_buffer_size 100"/> -->
    <add key="AudioDeviceParam" value="-audio_buffer_size 100"/>

    <!-- if specify device name, then encoder will try to load it at starting -->
    <!-- <add key="VideoDeviceName" value="screen-capture-recorder"/> -->
    <!-- <add key="AudioDeviceName" value="virtual-audio-capturer"/> -->

    <!-- if want to keep only one encoder running, set this to "true" -->
    <!-- <add key="KeepOnlyOneInstanceRunning" value="true"/> -->

    <!-- enable this if want a timeout setting for incoming data -->
    <!-- <add key="MaxRecvIdleSeconds" value="10"/> -->

  </appSettings>
  
</configuration>
